.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 24px;
    padding-top: 201px;
    background-image: url('../images/tablet/image-hero.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 414px auto;

    &__title {
        max-width: 290px;
        margin: 0 auto 24px;
        font-weight: 900;
        font-size: 40px;
        line-height: 1.1;
        text-align: center;
        color: @color-base-black;
    }

    &__text {
        max-width: 330px;
        margin: 0 auto 32px;
        text-align: center;
    }

    &__button:first-of-type {
        margin-bottom: 16px;
    }
}
